#!/usr/bin/make -f

export DH_VERBOSE=1
# export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# DPKG_EXPORT_BUILDFLAGS = 1
# include /usr/share/dpkg/buildflags.mk
# CFLAGS+=$(CPPFLAGS)
# CXXFLAGS+=$(CPPFLAGS)

%:
	dh $@ --parallel

# the Makefile has no install target
#
# https://github.com/intel/tbb/issues/175
override_dh_auto_install:
	dh_install -p libtbb-dev include/* /usr/include
	find build -type f -path '*_release*' -name '*.so' -exec dh_install -p libtbb-dev {} /usr/lib/ \;
	find build -type f -path '*_release*' -name '*.so.*' -exec dh_install -p libtbb2 {} /usr/lib/ \;
